<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <listener>
        <listener-class>com.ZhangZihao.week6.JDBCServletContextListener</listener-class>
    </listener>

    <context-param>
        <param-name>driver</param-name>
        <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:sqlserver://localhost:1314;DatabaseName=userdb</param-value>
    </context-param>
    <context-param>
        <param-name>User</param-name>
        <param-value>ZZH</param-value>
    </context-param>
    <context-param>
        <param-name>Password</param-name>
        <param-value>zzh</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>homework2java</servlet-name>
        <servlet-class>com.ZhangZihao.week2.tryGET</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homework2java</servlet-name>
        <url-pattern>/homework2/java</url-pattern>
    </servlet-mapping>

<!--    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>com.ZhangZihao.week3.registerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>-->

    <servlet>
        <servlet-name>LifeCycle</servlet-name>
        <servlet-class>com.ZhangZihao.week3.ServletLifeCycle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LifeCycle</servlet-name>
        <url-pattern>/homework3/ServletLifeCycle</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
<!--    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.ZhangZihao.week5</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>-->

<!--    <servlet>
        <servlet-name>jdbcServer</servlet-name>
        <servlet-class>com.ZhangZihao.week4.registerServlet</servlet-class>
            <init-param>
                <param-name>driver</param-name>
                <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
            </init-param>
            <init-param>
                <param-name>address</param-name>
                <param-value>jdbc:sqlserver://localhost:1314;DatabaseName=userdb</param-value>
            </init-param>
            <init-param>
                <param-name>User</param-name>
                <param-value>ZZH</param-value>
            </init-param>
            <init-param>
                <param-name>password</param-name>
                <param-value>zzh</param-value>
            </init-param>
&lt;!&ndash;        <load-on-startup>1</load-on-startup>&ndash;&gt;
    </servlet>
    <servlet-mapping>
        <servlet-name>jdbcServer</servlet-name>
        <url-pattern>/ToMyDb</url-pattern>
    </servlet-mapping>-->

    <!--<servlet>
        <servlet-name>ConfigServlet</servlet-name>
        <servlet-class>com.ZhangZihao.week4.ConfigServlet</servlet-class>
        <init-param>
            <param-name>Name</param-name>
            <param-value>ZhangZihao</param-value>
        </init-param>
        <init-param>
            <param-name>StudentId</param-name>
            <param-value>2019211001001124</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfigServlet</servlet-name>
        <url-pattern>/config</url-pattern>
    </servlet-mapping>-->

</web-app>